body{
    background-color: darkkhaki;
    display: flex;
    align-items:flex-start;
    flex-direction: column;

}

.top-banner{
    width: 90%;
    height: 2 50px;
    padding: 10px;
    display: flex;

}
.heading {
    font-size: 35px;
}
.top-banner form{
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: #d69e5a;
    flex-direction: column;
}
.input[type=text]{
    font-size: 25px;
    height: 30px;
    padding: 10px 5px 10px;
    border-width: 0px 0px 2px 0px;
    background-color: darkkhaki;
}
.input[type=text]:focus{
    background-color: #fff;
}
.input::placeholder{
    color: #fff;
}
.input[type=text]:focus-visible{
    background-color: rgb(43, 38, 38);
    font-size: 25px;
    color: darkkhaki;
}
.btn{
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
    padding: 15px;
    margin-top: 10px;
    background-color: darkkhaki;
    border-width: 0px;
}
.btn:hover{
    background-color: rgb(37, 36, 36);
    color:darkkhaki;
    border: 1px solid darkkhaki;
}
.msg{
    margin-top: 10px;
    font-size: 20px;
    color: #0e0d0d;
}
.ajax-section{
    width: 100%;
    margin: 0px 0 10px;
}
.ajax-section .cities {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(4, 1fr);
}
.ajax-section .city{
 position: relative;
 padding: 20px;
 border-radius: 20px;
 background:  #d69e5a;
}
.ajax-section .city::after{
    content: '';
    width: 20%;
    height: 40px;
    position: absolute;
    bottom: -12px;
    left: 1%;
    z-index: -1;
    opacity: 0.1;
    border-radius: 20px;
    background: #fff;
}
.ajax-section figcaption{
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.ajax-section .city-temp{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 10px;
    color: #ebeff8;
}
.ajax-section .city sup{
    font-size: 0.5rem;
}
.ajax-section .city-name sup{
    padding: 0.2rem 0.6rem;
    border-radius: 30px;
    color: #fff;
    background: #ff8c00;
}
.ajax-section .city-icon{
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.city-icon {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
.cities {
    list-style: none;
  }


  @media screen and (max-width: 1000px) {
    body {
      padding: 30px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  /* ---------------------------------- */
  @media screen and (max-width: 700px) {
    .heading,
    .ajax-section .city-temp {
      font-size: 3rem;
    }
    
    .ajax-section {
      margin-top: 20px;
    }
    
    .top-banner form {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .top-banner form input,
    .top-banner form button {
      width: 100%;
    }
  
    .top-banner form button {
      margin: 20px 0 0 0;
    }
    
    .top-banner form .msg {
      position: static;
      max-width: none;
      min-height: 0;
      margin-top: 10px;
    }
  
    .ajax-section .cities {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 500px) {
    body {
      padding: 15px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(1, 1fr);
    }
  }